html,
body {
    background-color: #2d2d2d;
    color: #e5e5e5;
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-family: 'Droid Sans Mono', monospace;
    font-size: 12px;
}
.input {
    background-color: transparent;
    color: #e5e5e5;
    border: none;
    outline: none;
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'Droid Sans Mono', monospace;
    size: auto;
}
.t1,
.t2,
.t3 {
    height: 33%;
}
